/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  padding-inline: $spacing-05;
  padding-block: $spacing-05 $spacing-06;
  display: flex;
  flex-direction: column;
  row-gap: $spacing-03;
}

.heading {
  @include line-clamp(2);
  font-size: rem(18px);
  line-height: math.div(24, 18);
  font-weight: 600;
}

.description {
  @include line-clamp(4);
  font-size: rem(14px);
  line-height: math.div(18, 14);
}

.tag {
  margin-block-start: auto;
}

@include breakpoint-up(md) {
  .root {
    min-block-size: rem(320px);
  }
}
